#freepik {
  top: 95%;
  color: black;
}

#kakao_ad {
  position: absolute !important;
  width: 100%;
  margin: auto;
  height: 100%;
  top: 0%;
}

@media screen and (min-width: 600px) {
  #freepik {
    top: 0%;
  }
  #kakao_ad {
    position: absolute !important;
    width: 100%;
    margin: auto;
    height: 100%;
    top: 90%;
  }
}
