body {
  background-color: rgb(251, 244, 214);
}
.image-container {
  position: relative;
  min-height: 650px;
  display: flex;
}
button {
  z-index: 1;
  position: absolute;
  top: 80%;
  justify-content: center;
  right: 50%;
  transform: translate(50%, 30%);
}
#freepik {
  z-index: 3;
}
#ImgTag {
  width: 50%;
  z-index: 3;
}
#startBtn {
  top: 80%;
  color: white;
}
#dImg {
  display: none;
}
#mImg {
  display: inline-block;
}
@media screen and (min-width: 600px) {
  .image-container {
    min-height: 800px;
  }
  #dImg {
    margin-top: 30px;
    display: inline-block;
  }
  #mImg {
    display: none;
  }
}
