body {
  background-color: rgb(251, 244, 214);
}
.image-container {
  position: relative;
  min-height: 600px;
  display: flex;
}
.image {
}
button {
  z-index: 1;
  position: absolute;
  top: 80%;
  justify-content: center;
  right: 50%;
  transform: translate(50%, 30%);
}
#startBtn {
  top: 100%;
  color: white;
}
@media screen and (min-width: 1000px) {
  .image-container {
    min-height: 800px;
  }
}
