* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 19px;
}
html,
body {
  height: 100%;
}
@import "./startPage.scss";
@import "./gameContent";
@import "./Result";
@import "./kakao";
@import "./index";
